#JUST FOR DEMO, RENAME TO .env

ENV=development

# API auth
API_KEY=dev_api_key_change_me

#BACKEND
API_PORT=5000
DOMAIN_URL=localhost

#POSTGRES
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

#SUPERUSER
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=BFSSPwnsgT36bgkdcWEMN61f
#APP USER
POSTGRES_DB_PROD=app_db
POSTGRES_USER_PROD=app_user
POSTGRES_PASSWORD_PROD=xK8kL72pN9mw1y50sqnd6
PG_URL="postgresql+asyncpg://${POSTGRES_USER_PROD}:${POSTGRES_PASSWORD_PROD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB_PROD}"

#RABBIT
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=app
RABBITMQ_PASSWORD=D7aY95q2pFWhH1fdo5
RABBITMQ_PASSWORD_HASH=ytUIm9ye7DL3f9KCz2Dv1uNX3ORYih38grySxJS6FLY1DQMk
RABBITMQ_PORT=5672
RABBITMQ_PORT_UI=15672
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}/
RABBITMQ_PAYMENTS_NEW_QUEUE=payments.new
RABBITMQ_PAYMENTS_NEW_DLQ_QUEUE=payments.new.dlq

#CONSUMER
MAX_WEBHOOK_ATTEMPTS=3
MAX_MESSAGE_ATTEMPTS=3

#OUTBOX PUBLISHER
OUTBOX_POLL_INTERVAL_S=1.0
OUTBOX_BATCH_SIZE=50
OUTBOX_MAX_ATTEMPTS=3
